<div id="images">
  <% groups = { "0" => [], "1" => [], "2" => [] } %>
  <% @images.each do |image| %>
    <% groups[cycle("0", "1", "2")] << image %>
  <% end %>

  <% groups.each do |index, images| %>
    <div id="group-<%= index %>" class="image-group">
      <%= render images %>
    </div>
  <% end %>
</div>
<%= paginate @images %>
