.gif
  margin-bottom: 20px
  text-align: center

.gif-inner
  display: inline-block
  background: #f1f1f1
  padding: 10px
  border: 1px solid #e0e0e0
  white-space: nowrap

.gif-preview
  position: relative
  font-size: 0

.gif-progress
  position: absolute
  bottom: 10px
  right: 10px

.gif-container
  display: block

  img
    float: left
