<div class="how-does-giftoppr-work">
  <h1>What's giftoppr?</h1>
  <%= image_tag 'https://giftoppr.desktopprassets.com/uploads/94ffe262a3c797d6c6fc4226d2eff923631fe684/tumblr_mmqqvn6qic1rewgato1_250.gif' %>

  <h2>How does giftoppr work?</h2> 
  <p class="statement">When you signin using your dropbox account, a folder called <em>giftoppr</em> will be created inside the apps folder within your dropbox. Any gif that you save in this folder will synchronize with giftoppr!</p>
  <p class="statement">If you see a gif on <em>giftoppr</em> you like, and it's not in your collection, click on the cloud icon. When you do, a copy will automatically be saved to the giftoppr folder in your dropbox.</p>
</div>
