<div id="gifs">
</div>

<div style="display: none">
  <% @gifs.each do |gif| %>
    <div class="gif">
      <%= image_tag gif.file.url, 'style:' => "background: url(#{gif.file.url(:preview)})" %>
      <div class="gif-actions">
        <%= link_to 'Download to Dropbox', gif_download_path(gif), :remote => true, :method => :post %>
      </div>
    </div>
  <% end %>
</div>
